<h1 class="text-center ">Motores</h1>

<div id="engines">
  <% if notice.present? %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
  <% end %>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Tipo de motor</th>
        <th>Foto</th>
        <th>Menu</th>
      </tr>
    </thead>
    <tbody>
      <% @engines.each do |engine| %>
        <tr>
          <td><%= engine.name %></td>
          <td><%= engine.descripcion %></td>
          <td><%= engine.type_engine %></td>
          <td><%= image_tag engine.photo, class: "img-thumbnail", width: 100, height: 100 %></td>
          <td>
          <%= link_to "Editar", edit_engine_path(engine), class:"btn btn-warning" %>
          <%= link_to "Ver", engine_path(engine), class:"btn btn-success" %>
          <%= link_to "Eliminar",engine, method: :delete, data: { confirm: "¿Estás seguro?" }, class:"btn btn-danger" %>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p>
    <%= link_to "Nuevo motor", new_engine_path, class:"btn btn-primary"  %>
  </p>
</div>

<%= raw pagy_nav(@pagy) %>