<p style="color: green"><%= notice %></p>

<%= render @engine %>

<div>
  <%= link_to "Edit", edit_engine_path(@engine), class:"btn btn-warning" %> |
  <%= link_to "Volver", engines_path, class:"btn btn-success" %>

  <%= button_to "Eliminar", @engine, method: :delete, class:"btn btn-danger" %>
</div>


