<p style="color: green"><%= notice %></p>

<%= render @type_maintenance %>

<div>
  <%= link_to "Edit this type maintenance", edit_type_maintenance_path(@type_maintenance) %> |
  <%= link_to "Back to type maintenances", type_maintenances_path %>

  <%= button_to "Destroy this type maintenance", @type_maintenance, method: :delete %>
</div>
