<p style="color: green"><%= notice %></p>

<%= render @maintenance %>

<div>
  <%= link_to "Editare", edit_maintenance_path(@maintenance) %> |
  <%= link_to "Volver", maintenances_path %>

  <%= button_to "Eliminar mantenimiento", @maintenance, method: :delete %>
</div>
